<div class="container">
  <h1>Add a new friend</h1>
  <div class="row"></div>

  <form #form="ngForm" (ngSubmit)="addAFriend()" name="form">
    <div class="row col-md-12">
      <div class="form-group col-md-4">
        <label for="Id">Friend Id</label>
        <input type="friendId" class="form-control" id="friendId" aria-describedby="friendIdHelp" placeholder="Friend Id" name="friendId"  [(ngModel)]="newFriend.id" >
        <small id="friendIdHelp" class="form-text text-muted">Friend Id</small>
      </div>
      <div class="form-group col-md-4">
        <label for="FirstName">First Name</label>
        <input type="firstName" class="form-control" id="FirstName" aria-describedby="firstNameHelp" placeholder="First Name" name="firstName" [(ngModel)]="newFriend.firstName" >
        <small id="firstNameHelp" class="form-text text-muted">First Name</small>
      </div>
      <div class="form-group col-md-4">
        <label for="LastName">Last Name</label>
        <input type="firstName" class="form-control" id="LastName" aria-describedby="lastNameHelp" placeholder="Last Name" name="lastName" [(ngModel)]="newFriend.lastName">
        <small id="lastNameHelp" class="form-text text-muted">Last Name</small>
      </div>
    </div>

    <div class="row col-md-12">
      <div class="form-group col-md-12">
        <label for="imgUrl">Image Url</label>
        <input type="imgUrl" class="form-control" id="imgUrl" aria-describedby="imgUrlHelp" placeholder="Image Url" name="imageUrl" [(ngModel)]="newFriend.imageUrl">
        <small id="imgUrlHelp" class="form-text text-muted">Image Url</small>
      </div>
    </div>

      <button type="submit" class="btn btn-primary" name="btnSubmitNewFriend">Submit</button>
  </form>
</div>
